body{
    background: url(https://images.unsplash.com/photo-1719408937898-e15b8638e1d8?q=80&w=2044&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    color:black;
    text-align: center;
}



.container{
    color: black;
    margin:5rem;
}
