body{
    background: url(https://media.istockphoto.com/id/2149359490/photo/financial-advisor-stock-photo.webp?a=1&b=1&s=612x612&w=0&k=20&c=b5nvVe38KNN66XBEPTmxdve_hFU2c8wgR6--sf-IYxU=);

    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background-color: chocolate;
}

.navbar a{
    color: black;
}

