<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static  'css/style.css'%}">

</head>
<body>
    {%block base_block %}
    <h1>Welcome to template</h1>
    <img src="{%static 'image/download.jpg'%}" alt="no image" >
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut asperiores voluptates repellat placeat unde veniam doloremque molestiae rem excepturi eveniet sequi beatae, recusandae exercitationem in explicabo id ea laudantium laboriosam.</p>
    {% endblock %}
</body>
</html>