<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block base_block %}
    <div class="container" style="text-align: center;">
        <br><br><br>
    <h1>please provide login to access employee</h1>
    <form method="post">
        {{form.as_p}}
        {% csrf_token %}
        <input type="submit" name="" value="login">

    </form>
    
    {% endblock %}
</div>
</body>
</html>